$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ebbcba;
$pine: #31748f;
$foam: #9ccfd8;
$iris: #c4a7e7;

.bar {
  background-color: $base;
  * {
  	color: $rose;
    border: none;
	}
}

.active-workspace {
  background-color: $pine;
}

.right-wgt {
	* {
		padding: 0px 5px;
	}
	
}

.warn {
  animation: blink-animation 1s linear infinite;
  color: $love; 
	* { color: $base; }
}

.battery-wgt .circ {
	color: $foam;
	background-color: $surface;
	border-radius: 10px;
}


@keyframes blink-animation {
  100% {
		background-color: $muted;
  }
}
